.titlebar {
    padding: 3 6px;
}

.label_link {
    color: #3689e6;
}
.textview {
    font-style: italic;
}
.color_label {
    background-color : #3689e6;
}
.badge {
    background-image:
        linear-gradient(
            to bottom,
            shade (
            #c6262e,
                1.3
            ),
            #c6262e
        );
    border: 1px solid shade (#c6262e, 0.9);
    border-radius: 12px;
    box-shadow:
        inset 0 0 0 1px alpha (#fff, 0.05),
        inset 0 1px 0 0 alpha (#fff, 0.25),
        inset 0 -1px 0 0 alpha (#fff, 0.1),
        0 1px 2px alpha (#000, 0.3);
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    margin: 2px;
    min-width: 18px;
    min-height: 18px;
    text-shadow: 0 1px 1px alpha (#000, 0.3);
}
